<div class = 'text-center container' style = 'height: 100vh; padding-top: 10%; position: relative'>
    <h1>Welcome To Campus Closet</h1>

    <p>Your one-stop solution for all your campus fashion needs</p>

    <div class = '' >
        <button style = '' class = "btn btn-primary mr-10" >Login</button>
        <button class = "btn btn-primary" >Sign Up</button>
    </div>
</div>

