<style>
  .display-page {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .holder {
    width: 900px;
    height: 700px;
  }
</style>


<div class = "display-page">
  <h1>Featured Items</h1>
  <div>Carousel component with hard-coded values that utilizes bootstrap</div>
  <div class = "holder">
  <%= render 'comp'%>
</div>
<div>





