/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
  }
.card-img-top {
    width: 100%;
    height: 200px; /* Adjust the height as needed */
    object-fit: cover;
  }

  .card-body {
    padding: 10px;
  }
  
  .card-footer {
    background-color: #ffffff !important;
  }
  
  .card-title {
    margin-bottom: 0;
  }

  .container {
    display: flex;
    flex-direction: column;
  }
  
  .row {
    display: flex;
    width: 100%;
  }
  
  .col-md-3 {
    flex: 0 0 25%;
  }
  
  .col-md-9 {
    flex: 0 0 75%;
  }
  

  .filter-box {
    width: 250px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
  }
  
  .filter-box h2 {
    margin-top: 0;
    font-size: 1.5em;
  }
  
  .filter-group {
    margin-bottom: 15px;
  }
  
  .filter-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .filter-group select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn-primary {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination .page {
    margin: 0 5px;
  }
  
  .pagination .page a {
    padding: 8px 16px;
    border: 1px solid #ccc;
    color: #007bff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .pagination .page a:hover {
    background-color: #f1f1f1;
  }
  
  

 

 